body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 50%;
    height: auto;
}

button {
    background-color: #4CAF50; /* لون الخلفية */
    color: white; /* لون النص */
    padding: 10px 20px; /* المسافة الداخلية للزر */
    border: none; /* إزالة الحدود */
    border-radius: 5px; /* حواف دائرية */
    cursor: pointer; /* شكل المؤشر عند الوقوف على الزر */
    font-size: 16px; /* حجم الخط */
    margin: 5px; /* المسافة بين الأزرار */
    transition: background-color 0.3s ease; /* تأثير الانتقال عند التفاعل */
}

button:hover {
    background-color: #45a049; /* لون الخلفية عند تمرير الماوس */
}

